<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			background-image: url(/assets/fondo2.jpg);
			font-family: Gotham Narrow;
		}
		h3, h4 {
			color: white;
		}

		.rigth {
			float: right;
			width: 300px;
		}

		.left {
			float: left;
			align: center;
		}
	</style>
</head>

<body>

<center>
	<h3> Resultados </h3>
</center>

<div id="map" class="left" style="width: 75%; height:600px;"></div>
<div id="side" class="rigth">
	<h4> Lista de Tweets </h4>
</div>


</body>
</html>

<script type="text/javascript" charset="utf-8">
	function initMap(markers, puntos, polis) {
        var bounds, i, j, map, myOptions, poli, styledMap, styles;

        bounds = new google.maps.LatLngBounds;
        i = 0;
        while (i < puntos.length) {
			bounds.extend(puntos[i]);
			i++;
        }
        styles = [{
            stylers: [{
                color: '#FFFFFF'
            }]
        }];
        styledMap = new google.maps.StyledMapType(styles, {
            name: 'Sin carreteras'
        });
        myOptions = {
            zoom: 10,
            center: bounds.getCenter(),
            disableDefaultUI: false,
            mapTypeControl: false
        };
        map = new google.maps.Map(document.getElementById('map'), myOptions);
        for(var i in markers) {
					// var div = document.createElement('button');
					// div.className = 'btnTweet';
					// div.onclick = (function() {
					// 	console.log(markers[i].getPosition().lat());
					// 	map.setCenter(new google.maps.LatLng(markers[i].getPosition().lat(),markers[i].getPosition().lng()));
					// 	// map.setCenter({
					// 	// 	lat : markers[i].getPosition().lat(),
					// 	// 	lng : markers[i].getPosition().lng()
					// 	// });
					// 		console.log(markers[i].getPosition().lat());
					// });
					// div.innerHTML = i + ": "+ markers[i].getPosition().lat() + ' ' + markers[i].getPosition().lng();
					// document.getElementById('side').appendChild(div);
			markers[i].setMap(map);
		}
		// for(var i in polis) {
		// 	polis[i].setMap(map);
		// }
        map.fitBounds(bounds);
        map.panToBounds(bounds);
    };
	function init() {
		$(document).ready(function() {
			$.ajax({
				url: "<%= tweet_index_path %>", // Route to the Script Controller method
				type: "GET",
				data: {
						search: getUrlParameter("search")
				},
				dataType: "json", // This goes to Controller in params hash, i.e. params[:file_name]
				complete: function() {
				},
				success: function(data, textStatus, xhr) {
					//data = JSON.parse(data);
					// console.log(data);
					var puntos = [];
					var markers = [];
					var polis = [];
						for(var key in data) {
							if(JSON.parse(data[key]).place != null) {
								var lats = [];
								var coords = JSON.parse(data[key]).place.bounding_box.coordinates[0];
								// console.log(JSON.parse(data[key]));
								for(var i in coords) {
									// console.log(coords[i][0]+","+coords[i][1]);
									var latLng = new google.maps.LatLng(coords[i][1],coords[i][0]);
									lats.push(latLng);
								}
								var marker = getMarker(lats,JSON.parse(data[key]).user.name+" dice: "+JSON.parse(data[key]).text);

								// var div = document.createElement('button');
		            // div.className = 'btnTweet';
								// div.onclick = (function() {
								// 	console.log("aksjhsdifhailjf");
								// 	map.setCenter({
								// 		lat : marker.getPosition().lat(),
								// 		lng : marker.getPosition().lng()
								// 	});
								//
								// });
		            // div.innerHTML = JSON.parse(data[key]).user.name+" dice: "+JSON.parse(data[key]).text + '<br>';

		            // document.getElementById('side').appendChild(div);

								polis.push(new google.maps.Polygon({
									paths: lats,
									strokeColor: '#000000',
									strokeOpacity: 1,
									strokeWeight: 2,
									fillColor: "#CCCCCC",
									fillOpacity: 0.4
								}));
								markers.push(marker);
								puntos.push(marker.getPosition());
							}
						}
					initMap(markers,puntos, polis)
				},
				error: function() {
							alert("Ocurrió un error en el servidor");
				}
			});
		});
	}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfA1Z216LkInfn3Xg-ERtQ5-U4HKeaBxM&libraries=places&callback=init">
</script>
