Tweet index
<% @array.each do |t|%> 
	<p><%= t%></p>
<%end%>
<script type="text/javascript" charset="utf-8">
	function init() {

	}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfA1Z216LkInfn3Xg-ERtQ5-U4HKeaBxM&libraries=places&callback=init">
</script>